@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    height: 100vh;
    background: #111;
    color: #eee;
    font-family: 'Roboto';
    display: grid;
    place-items: center
}

#main--h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 500
}

#main--p {
    text-align: center;
    font-size: 24px;
    transition: .5s;
    opacity: 0;
    font-weight: 300
}
